.navbar-default {
    font-family: Tw Cen MT Condensed, sans-serif;
    font-size: 24px;
    color: #4D4D4D;
    background-color: white;
    border-color: transparent;
    box-shadow: 0px 1px 7px #888888;
}

.navbar-brand {
    font-family: Tw Cen MT Condensed, sans-serif;
    font-size: 28px;
    color: #4D4D4D;
}

#home {
    width: 100%;
    height: 100vh;
    background-image: url(/assets/hawaii.jpg);
    background-size:cover;
    background-position: center;
    font-family: Tw Cen MT Condensed, sans-serif;
    color: white;
    text-align: center;
    font-size: 36px;
    padding-top: 120px;
}

#about {
    min-height: inherit;
    font-family: Tw Cen MT Condensed Extra Bold, sans-serif;
    color: #4D4D4D;
}

.abouth {
    padding-top: 7px;
    font-weight: bold;
    font-size: 22px;
}

#about-buffer {
    padding-top: 50px;
}

.aboutp {
    font-size: 16px;
}

.button {
    background-color: #345387;
    border: 1px solid #1e3151;
    box-shadow: 1px 1px 7px #888888;
    padding: 7px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
}

.button:hover {
    background-color: white;
    color: #31476b;
    text-decoration: none;
}

.button:active {
    background-color: #345387;
    border: 1px solid #1e3151;
    box-shadow: 1px 1px 7px #888888;
    padding: 7px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
}

.button:focus {
    background-color: #345387;
    border: 1px solid #1e3151;
    box-shadow: 1px 1px 7px #888888;
    padding: 7px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
}

#port-row-1 {
    padding-top: 40px;
}

.title {
    margin-top: 70px;
    font-family: Tw Cen MT Condensed, sans-serif;
    text-align: center;
    background-color: #4D4D4D;
    color: white;
}

.thumb {
    max-height: 380px;
    max-width: 380px;
    border-radius: 10px;
    border: 3px solid #4D4D4D;
    box-shadow: 1px 1px 7px #888888;
    margin-bottom: 20px;
}

.thumb:hover {
    border-color: gold;
}

.other-pic {
    height: 100%;
    width: 100%;
    max-height: 578px;
    max-width: 450px;
    border-radius: 10px;
    border: 3px solid #4D4D4D;
    box-shadow: 1px 1px 7px #888888;
}

#contact-row {
    padding-top: 20px;
    min-height: 580px;
}

#contact {
    font-family: Tw Cen MT Condensed, sans-serif;
    font-size: 18px;
    color: #4D4D4D;
    font-weight: bold;
}

.tiny {
    height: 55px;
    width: 55px;
}

#text-box-web {
    display: table;
    height: 100px;
    width: 100%;
    text-align: center;
    padding-top: 200px;
}

#text-box-mobile {
    display: table;
    height: 100px;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

#spanning {
    display: inline;
    vertical-align: middle;
    letter-spacing: normal;
}

@media screen and (max-width : 768px){
    .desk{
        display: none;
    }
    .div-only-mobile{
        visibility:visible;
    }
}

@media screen and (min-width : 769px){
    .div-only-mobile{
        display: none;
    }
    .desk {
        display: visible;
    }
}

.shadow {
    text-shadow: 1px 1px black;
    text-align: center;
}

.js-scroll {
    text-align: center;
}

#scroll-button {
    width: 60px;
    height: 60px;
    opacity: .7;
}

.caption {
    font-family: Tw Cen MT Condensed, sans-serif;
    font-size: 12pt;
    color: #4D4D4D;
    padding-top: 80px;
    text-align: left;
    margin-right: 20px;
}
